


.bl-empty .wrap{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.bl-empty i{
    margin-top: 100px;
    font-size: 90px;

}

.bl-empty h1{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(16,10,28,.5);
}

.bl-empty p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(16,10,28,.5);
}

.bl-empty button{
    margin-bottom: 100px;
    color: rgba(16,10,28,.5);
    background: linear-gradient(to right,#0056B3 0,#1378e3 100%) no-repeat;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
}

.cart .wrap .image{
    width: 100px;
    height: 100px;
}

.cart .wrap .image img{
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.cart .wrap{
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    background-color: #fff;
    padding: 24px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    align-items: center;
}
.cart{
    padding-top: 100px;
    padding-bottom: 100px;
}
.cart button{
    background-color: #f1f1f5;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 25px;
    
}
.sale_price{
    font-weight: 900;
}
.price{
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #868695;
    border-color: initial;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    display: inline-block;
    text-decoration: line-through;
    margin-top: 4px;
}
.mod{
    position: relative;
    top: -30%;
    right: -82%
}
.mod button{
    border: none;
    background-color: #fff;
}
.cart-total{
    background-color: #fff;
    max-width: 390px;
    position: relative;
    top: -207px;
    margin-left: 50px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);

    padding: 24px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 22px;
    box-shadow: 0 0 20px rgba(0,0,0,.1);
    align-items: center;
}
.top_price{
    margin-bottom: 30px;
}
.wrap .info{
    max-width: 260px;
}
.cart-total button{
    background: linear-gradient(to right,#0056B3 0,#1378e3 100%) no-repeat;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 8px;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 18px;
}

.total{
    display: flex;
}

.cart-total .total{
    display: flex;
    justify-content: space-between;
}

.cart-total .len_tovar{
    display: flex;
    justify-content: space-between;

}