


.bl-empty .wrap{
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
}
.bl-empty i{
    margin-top: 100px;
    font-size: 90px;

}

.bl-empty h1{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(16,10,28,.5);
}

.bl-empty p{
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    color: rgba(16,10,28,.5);
}

.bl-empty button{
    margin-bottom: 100px;
    color: rgba(16,10,28,.5);
    background: linear-gradient(to right,#0056B3 0,#1378e3 100%) no-repeat;
    color: #fff;
    padding: 7px 20px;
    border-radius: 5px;
    border: none;
}