body{
    font-family: 'Roboto', sans-serif;
}

.inf{
    display: flex;
    
}

header{
    background: linear-gradient(to right,#0056B3 0,#1378e3 100%) no-repeat;
    padding-top: 10px;
    padding-bottom: 35px;
}

.search-bar input{
    font-size: 18px;
    line-height: 24px;
    color: rgba(210, 206, 206, 0.832);
    width: 100%;
    padding: 16px 120px 16px 44px;
    border-radius: 56px;
    border: none;
}
.right-bar a{
    margin-right: 30px;
    font-size: 20px;
    text-align: center;
    color: #fff;
    text-decoration: none;

}
.work{
    background-color: #FF9900;
    color: #fff;
    text-decoration: none;
    padding: 1px 12px 3px;
    border-radius: 40px;
    font-size: 16px;
}

.gorod{
    color: #F5F5F5;
}
.rub{
    color: #F5F5F5;

}

.work2{
    background: #b5cb11 linear-gradient(90deg,#e0d55a 0,#3dd1b1 100%);
    color: #fff;
    text-decoration: none;
    padding: 1px 12px 3px;
    border-radius: 40px;
    font-size: 16px;
}
.right-bar{
    text-align: center;
}

.right-bar{
    display: flex;
}
.left-bar button{
    border-radius: 8px;
    padding: 21px 9px;
    margin-right: 20px;
    background: none;
   
}
.left-bar button i{
    font-size: 28px;

}
.left-bar p{
    font-size: 32px;
}

.left-bar{
    display: flex;
}

.bottom-header{
    color: #fff;
    margin-top: 20px;
}

/*Main */

main{
    background-color: #fff;
    position: relative;
    top: -15px;
    border-radius: 28px;
   

}
/* Слайдер */
.slidebar{
   padding-top: 50px;
    width: 100%;
    margin: 0 auto;
  
}
.carousel-inner{
    border-radius: 12px;
}
.but{
   
}

.category{
    text-decoration: none;
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    display: block;
    position: relative;
    padding: 3px 5px 3px 44px;
    border-radius: 8px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
.cat{
    display: block;
}

.cat li{
    border-radius: 18px;
}

.cat li{
    list-style-type: none;
    margin-bottom: 10px;
}
.cat li:hover{
    transition: all .2s;
    background-color: #1378e3;
    text-decoration: underline;
}

.btn-close{
    opacity: 1;
}



.close{
    display: block;
}


.pod{
    
   

}
.pod a{
    font-size: 16px;
    line-height: 22px;
    color: black;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    border-color: initial;
    transition: color .3s ease 0s;
    display: block;
}


.name:hover > .list-pod{
    display: block;
}

.name:focus >.list-pod{
    display: block;
}

.list-pod{
    display: none;
    color: #242424;
    position: absolute;
    background-color: #fff;
    min-width: 300px;
    height: 100vh;
    top: 0;
    left: 350px;
}

.list-pod-two{
    display: none;
}


header  input{
    font-size: 18px;
    line-height: 24px;
    transition: background .3s ease 0s;
    color: rgb(228, 228, 228);
    width: 100%;
    padding: 16px 120px 16px 44px;
    margin: 0;
    border-radius: 56px;
    background: rgba(255,255,255,.2);
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
  }


  footer .container{
    padding-top: 40px;
  }

  footer{
    
    background: linear-gradient(to right,#0056B3 0,#1378e3 100%) no-repeat;
    padding-top: 10px;
    padding-bottom: 35px;
    
}
.do-foot{
    background-color: #fff;
    width: 110vw;
    height: 50px;
    position: relative;
    bottom: -5px;
    border-radius: 28px;
}
.list-pod{
    
}
.one_tovar ul li a button{
    vertical-align: middle;
    border: none;
    background-color: #fff;
    width: 28px;
    min-height: 29px;
    display: flex;

}
.cat-img{
    position: relative;
    left: 268px;
    top: 0px;
    background-color: #fff;
    width: 200px;
    padding: 0px 10px;
    height: 100vh;
    position: relative;
}
.cat-img{
    object-fit: contain;
}

footer ul li a{
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 16px;
    line-height: 22px;
    color: rgba(255,255,255,.7);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    padding: 8px 0;
}

header ul{
    display: flex;
}
.cat-img{
    
    max-width:300px ;
    height: 100vh;

}
.cat-img img{
    width: 100%;
    height: auto;
    object-fit: contain;
    background-color: #fff;
}

footer ul li{
    overflow-wrap: break-word;
    word-break: break-word;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
    list-style-type: none;
}

html,body{
    overflow-x: hidden;
}

#app .price{
    margin-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    font-weight: 700;
    margin-right: 4px;
}

#app .brand{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

#app .brand span{
    
    color: #9d9da5;
    margin-left: 5px;

}

#app button{
    background: #0056B3 ;
    border: 2px solid #0056B3;
    padding: 5px 20px 7px;
    color: #fff;
    border-radius: 18px;
}

#app .img img{
    max-width: 240px;
    max-height: 319px;
}

#app button:hover{
    background-color: #1378e3;
    border: 2px solid #1378e3;
}

#app h1, #sales h1{
    margin-top: 8px;
    text-align: center;
    margin-bottom: 8px;
}

#app .tov {
    
   padding: 20px;
    box-shadow: none; /* Сначала убедитесь, что box-shadow не применяется */
        
       
    transition: box-shadow 0.3s ease; /* Добавьте плавный переход для эффекта */
    }
    
#app .tov:hover {
        
       
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Примените box-shadow при наведении */
    }
.one_tovar{
    padding-top: 50px;
}

.main-show{
    max-height: 596px;
    display: flex;

}

.main-show .item img{

    height: 100%;
    object-fit: contain;
}

.main-show2{
    margin-top: 20px;
    width: 100%;
    max-height: 100px;
    display: flex;
}

.main-show2 .another-img{
    max-width: 100px;
    max-height: 100px;
    justify-content: center;

}

.main-show2 .another-img img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.add-cart{
    background: #0056B3;
    border: none;
    color: #fff;
    
    font-size: 16px;
    line-height: 20px;

    border-radius: 7px;
}

.lst-button button{
    padding: 7px 20px;
    margin-right: 20px;
  
    font-size: 16px;
    line-height: 20px;

    border-radius: 7px;
}


.add-heart{
    background: #F3F3F3;
    border: none;
    color: #000;
    padding: 7px 20px;
    font-size: 14px;
    line-height: 20px;
    border-radius: 7px;
}

.show_tovar_price{
    font-size: 36px;
    line-height: 44px;
    font-family: 'Roboto', sans-serif;
}

.one_tovar ul{
    display: flex;
}

.one_tovar ul li{
    margin-right: 10px;
    list-style-type: none;
}
.one_tovar ul li a{
    font-size: 14px;
    line-height: 20px;
    color: #100a1c;
    text-decoration: none;
}

.one_tovar ul li a:hover{
    color: #0056B3;
}

.one_tovar .off{
    margin-top: 30px;
}

.one_tovar .off p a{
    padding-left: 20px;
    margin-right: 20px;
}

.one_tovar .card-body{
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
}

.one_tovar .off-text:first-child{
    align-items: center;
    border: 1px solid transparent;
    border-radius: 6px;
    color: #000;
    column-gap: 12px;
    display: inline-flex;
    height: 44px;
    justify-content: center;
    padding-left: 24px;
    padding-right: 24px;
    
}
.off-text button{
    padding: 5px 50px;
    border-radius: 6px;
    margin-top: 20px;
    border: none;
    padding-bottom: 5px;
}

.active-btn{
    background: #fff;
}

.off-text .deactive{
    background-color: #F9F8FB;

}

.one_tovar .off-text{
    padding-bottom: 25px;
    
    background-color: #F9F8FB;
    width: 100%;
    margin-bottom: 20px;
}

.main-show2 {
    overflow-x: auto;
  }
  
  .scroll-container {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px; /* Дополнительное пространство для изображений */
  }
  
  .another-img {
    flex: 0 0 auto;
    margin-right: 20px; /* Дополнительное пространство между изображениями */
  }
  
  .about{
    background-color: #fff;
    color: #212529;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,Liberation Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: left;
  }

  .deactive-text{
    display: none;
  }
  #img:hover{
    border: 3px solid #0056B3;
  }

  .price-div{
    display: flex;
    margin-top: 50px;
    margin-bottom: 48px;
  }

  .price-div .new_price{
    margin-left: 15px;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color: rgba(16,10,28,.3);
    text-decoration: line-through;
  }
  .price-div s{
    color: red;
  }

  .review{
    margin-top: 50px;
  }

.review button{
    font-size: 16px;
    line-height: 22px;
    color: #242424;
    border-color: initial;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: #868695;
    border-color: transparent;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}


.review p i{
    margin-left: 10px;
}

.review .wrap .img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.review .wrap .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.review .wrap{
    margin-top: 30px;
    padding: 28px 28px 24px;
    border-radius: 16px;
    border: 1px solid #9d9da5;
}

.review .wrap .top{
    display: flex;
}

.review .wrap .con-info{
    margin-left: 20px;
}

.review .wrap .user_name{
    font-size: 14px;
    line-height: 20px;
    color: #242424;
    font-weight: 800;
    
}

.review .wrap .user_review{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;
    line-height: 20px;
    color: #868695;
}

.review .wrap_answer i{
    margin-right: 5px;
}
.review .wrap_answer .seller{
    font-weight: 900;
}

.questions{
    display: none;
}