{% extends "index.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/css/cart.css' %}">

{% endblock %}

{% block content %}
{% if cart_items %}
<div class="container cart">
    <div class="row">



    {% for item in cart_items %}
    <div class="col-9">
        <div class="wrap">
            <div class="image">
               <a href="{% url 'show_tovar' item.product.id %}"><img src="{{item.product.picture.url}}" alt=""></a> 
            </div>
            <div class="info">
                <p>{{item.product.brand}}</p>
                <p>{{item.product.name}}</p>

            </div>
            <div class="counter">
                <form action="{% url 'cart' %}" method="POST">
                    {% csrf_token %}
                    <input name="item_id" value="{{ item.id }}">  <!-- Добавляем скрытое поле с item_id -->
                    <button type="submit" name="add">-</button>
                    <span>{{ item.quantity }}</span>
                    <button type="submit" name="remove">+</button>
                </form>
            </div>
            <div class="price-cart">
                <p class="sale_price">{{item.product.sale_price}} &#8381</p>
                <p class="price"><s>{{item.product.price}} &#8381</s></p>

             </div>
            </div>
            <div class="mod">
                <form action="{% url 'cart' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="item_id" value="{{cart_item.id}}">
                    <button type="submit" name="like"><i class="fa-regular fa-heart"></i></button>
                    <button type="submit" name="delete"><i class="fa-solid fa-trash"></i></button>
                </form>
            </div>
        </div>

    </div>
</div>

    {% endfor %}
    {% else %}
    <div class="bl-empty">
    <div class="wrap">
        <i class="fa-sharp fa-solid fa-cart-shopping"></i>
         <h1>Упс!</h1>
         <p>Кажется ваша корзина совсем пустая =( Скорее исправлять это =)</p>
         <button>К покупкам</button>
     </div>
    </div>
    {% endif %}


{% endblock %}

{% block ajax %}

{% endblock %}