{% extends "index.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'app/css/likes.css' %}">
<link rel="stylesheet" href="{% static 'app/css/profile_info.css' %}">
{% endblock %}



{% block content %}
<div class="container likes">
    <div class="row">
        <div class="col-3">
            <aside>
                <div class="profile-card">
                    <i class="fa-solid fa-user"></i>
                    <p></p>
                    <a href="{% url 'logout' %}">
                    <button class="btn btn--icon profile-card__logout-btn">
                        <i class="fa-solid fa-right-from-bracket"></i>
                    </button></a>
                </div>
                <div class="links">
                    <a href="{% url 'profile_user' %}" class="ls-info">Личная информация</a>
                    <a href="{% url 'order' %}">Заказы</a>
                    <a href="{% url 'likes' %}" class="like">Избранное</a>
                </div>
            </aside>

        </div>
        <div class="col items">
            {% if likes_items %}
            <div class="container">
                <div class="row">
                    {% for item in likes_items %}
                    
                        <div class="col-3 tov">
                            <a href="{% url 'show_tovar' item.id %}">

                            <div class="img"><img src="{{item.product.picture.url}}" alt=""></div>
                            {% if item.is_on_sale %}
                            <p class="price">{{item..product.price}}&#8381</p><span class="del"></span>
                            {% else %}
                            <p class="price">{{item.product.price}}&#8381</p>
                            {% endif %}
                            <p class="brand">{{item.product.brand}} <span>/</span> <span>{{item.product.name}}</span> </p>
                            <button>В коризну</button>
                        </a>

                        </div>
                        
                    
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <h1>Избранное</h1>
            <p>Вы еще ничего не добавили в избранное</p>
            {% endif %}
            
        </div>
    </div>
</div>

{% endblock %}