{% extends "index.html" %}


{% block content %}

<section class="section-block sec-login">
    <div class="pt">
        <canvas id="stars"></canvas>
    </div>
<div class="sec-log-wrapper">
<div class="container log">
    <div class="log-info col-xl-4 col-lg-5 col-md-6 col-sm-12">
          <h1>Вход</h1>

          <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-block-info">Вход</button>
          </form>
    </div>
           <div class="footer col-xl-4 col-lg-5 col-md-6 col-sm-12">
        <div class="shadow-box shadow-box_additionals">
  <span class="form-additional-message">Ещё нет аккаунта?&nbsp;<a href="{% url 'register' %}" class="form-additional-message__link">Зарегистрируйтесь</a></span>
</div>
    </div>
</div>
    </div>
</section>


{% endblock %}