{% extends "index.html" %}

{% block content %}

<div class="container one_tovar">
    <div class="row">
        <div class="col-12">
            
            <ul>
                <li><a href=""><button><i class="fa-solid fa-arrow-left"></i></button></a></li>
                <li>Главная</li>
                <li>></li>
                <li><a href="">{{tovar.category.name}}</a></li>
                <li>></li>
                {% if tovar.category.podname and tovar.category.podname_name %}
                <li><a href="">{{tovar.category.podname}}</a></li>
                <li>></li>
                <li><a href="">{{tovar.category.podname_name}}</a></li>
    
                {% else %}
                <li><a href="">{{tovar.category.podname}}</a></li>
                {% endif %}
    
    
             
            </ul>
        </div>
        <div class="col-6">
          <div class="main-show owl-carousel owl-theme">
            <div class="item">
              <img id="picture" src="{{ tovar.picture.url }}" alt="">
            </div>
          </div>
          <div class="main-show2">
            <div class="scroll-container" id="scroll-container">
              {% for item in tovar.images.all %}
              <div class="another-img">
                <img id="img" src="{{item.image.url}}" onclick="showImage(this)" onmouseover="showImage(this)" alt="">
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        
      <div class="col-6">
        <h1>{{tovar.brand}}</h1>
        <h2>{{tovar.name}}</h2>
        <div class="price-div">
          <p class="show_tovar_price">{{tovar.sale_price}} &#x20bd</p>
        <s>  <p class="new_price">{{tovar.price}} &#x20bd</p></s>
        </div>
        
        <div class="lst-button">
          <form action="" method="POST">
            {% csrf_token %}
            {% if has_items %}
                <button class="remove_tovar" name="remove_tovar" data-product-id="{{ tovar.id }}">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>Удалить из корзины
                </button>
            {% else %}
                <button class="add-cart" name="add_product" data-product-id="{{ tovar.id }}">
                    <i class="fa-sharp fa-solid fa-cart-shopping"></i>В корзину
                </button>
            {% endif %}
            {% if has_item_like %}
            <button class="add-heart" name="add_like" data-product-id="{{ tovar.id }}">
                <i class="fa-regular fa-heart"></i>Удалить из избранных
            </button>
            {% else %}
            <button class="add-heart" name="remove_like" data-product-id="{{ tovar.id }}">
                <i class="fa-regular fa-heart"></i>В избранные
            </button>
            {% endif %}
            <button class="add-heart">
                <i class="fa-solid fa-share-nodes"></i>
            </button>
        </form>

        </div>
      </div>
      <div class="col-6 off">
            <div class="off-text">
              <button class="active-btn" id="about">Описание</button>
              <button class="deactive" id="descp">Характеристика</button>
            </div>
            <div class="about active-text" id="text1">
             
              {{tovar.description}}
            </div>
            <div class="description deactive-text" id="text2">
              <pre>{{tovar.about_tovar}}</pre>
              
              
            </div>
      </div>
    </div>
  </div>
  

  <div class="container" id="app">
    <h1>Похожие товары</h1>
    <div class="row">
      {% for item in tovars %}
      {% if item.category.name == tovar.category.name and item.category.podname == tovar.category.podname %}
      <div class="col">
        <a href="{% url 'show_tovar' item.id %}">
          <div class="col-3 tov">
              <div class="img"><img src="{{item.picture.url}}" alt=""></div>
              {% if item.is_on_sale %}
              <p class="price">{{item.price}}&#8381</p><span class="del"></span>
              {% else %}
              <p class="price">{{item.price}}&#8381</p>
              {% endif %}
              <p class="brand">{{item.brand}} <span>/</span> <span>{{item.name}}</span> </p>
              <button>В коризну</button>
          </div>
      </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>


  <div class="container review">
    <div class="row">
      <div class="info">
        <button id="rev">Отзывы <sup>{{len}}</sup></button>
        <button id="quest">Вопросы <sup>{{len_quest}}</sup></button>
      </div>
     <div class="reviewss" id="block_rev">
      {% for item in tovar.reviews.all %}

      <div class="col-4">
          <div class="wrap">
            <div class="top">
              <div class="img">
                <img src="{{item.user.user_picture.url}}" alt="">
              </div>
              <div class="con-info">
                <span class="user_name">{{item.user.user}}</span>
                <span class="user_review">{{item.created_at}}</span>
                <p>Рейтинг {{item.rating}}</p>
              </div>
            </div>
            <div class="wrap-body">
              <p>{{item.text}}</p>
            </div>
          </div>
      </div>
 
      {% endfor %}
     </div>
     
     <div class="questions" id="block_quest">
      {% for item in tovar.question.all %}
    
          <div class="another-img">
            <img id="img" src="{{item.images.url}}"  alt="">
          </div>
          
     
      <div class="col-4">
        <div class="wrap">
          <div class="top">
            <div class="img">
              <img src="{{item.user.user_picture.url}}" alt="">
            </div>
            <div class="con-info">
              <span class="user_name">{{item.user.user}}</span>
              <span class="user_review">{{item.created_at}}</span>
            </div>
          </div>
          <div class="wrap-body">
            <p>{{item.quest_user}}</p>
            
          </div>
          <div class="wrap_answer">
            <p class="seller"><i class="fa-solid fa-check"></i>Торговый представитель</p>
            <p>{{item.answer}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
     </div>

    </div>
  </div>

{% endblock %}

{% block ajax %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
    $('.add-cart').click(function(e) {
        e.preventDefault();
        let button = $(this);
        var productId = button.data('product-id');
        var csrfToken = '{{ csrf_token }}';

        if (button.attr('name') === 'add_product') {
            // Добавление товара в корзину
            $.ajax({
                type: 'POST',
                url: '{% url "show_tovar" id_clothes=tovar.id %}',
                data: {
                    'add_product': true,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    button.text('Убрать из корзины');
                    button.attr('name', 'remove_tovar');
                    // Дополнительные действия после успешного добавления в корзину, если необходимо
                },
                error: function(response) {
                    alert('Произошла ошибка');
                    // Дополнительные действия при ошибке, если необходимо
                }
            });
        } else if (button.attr('name') === 'remove_tovar') {
            // Удаление товара из корзины
            $.ajax({
                type: 'POST',
                url: '{% url "show_tovar" id_clothes=tovar.id %}',
                data: {
                    'remove_tovar': true,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    button.text('В корзину');
                    button.attr('name', 'add_product');
                    // Дополнительные действия после успешного удаления из корзины, если необходимо
                },
                error: function(response) {
                    alert('Произошла ошибка');
                    // Дополнительные действия при ошибке, если необходимо
                }
            });
        }
    });
});
</script>
<script>
 
 $(document).ready(function() {
    $('.add-heart').click(function(e) {
        e.preventDefault();
        let button = $(this);
        var productId = button.data('product-id');
        var csrfToken = '{{ csrf_token }}';

        if (button.attr('name') === 'add_like') {
            // Добавление товара в избранные
            $.ajax({
                type: 'POST',
                url: '{% url "show_tovar" id_clothes=tovar.id %}',
                data: {
                    'add_like': true,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    button.text('Удалить из избранных');
                    button.attr('name', 'remove_like');
                    // Дополнительные действия после успешного добавления в избранные, если необходимо
                },
                error: function(response) {
                    alert('Произошла ошибка');
                    // Дополнительные действия при ошибке, если необходимо
                }
            });
        } else if (button.attr('name') === 'remove_like') {
            // Удаление товара из избранных
            $.ajax({
                type: 'POST',
                url: '{% url "show_tovar" id_clothes=tovar.id %}',
                data: {
                    'remove_like': true,
                    'csrfmiddlewaretoken': csrfToken
                },
                success: function(response) {
                    button.text('В избранные');
                    button.attr('name', 'add_like');
                    // Дополнительные действия после успешного удаления из избранных, если необходимо
                },
                error: function(response) {
                    alert('Произошла ошибка');
                    // Дополнительные действия при ошибке, если необходимо
                }
            });
        }
    });
});


</script>

<script>
  let add_tovar = document.getElementsByName('add_tovar')
  console.log(add_tovar)
</script>

{% endblock %}